*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcbkptlist
*.xcscheme
**/xcschememanagement.plist
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.symlinks/
Flutter/Flutter-Generated.xcconfig
Flutter/Flutter-Release.xcconfig
Flutter/Flutter-Debug.xcconfig
Flutter/Generated.xcconfig
Flutter/.last_build_id
Generated.xcconfig
Pods/
Podfile.lock
.idea/
.vagrant/
.sconsign.dblite
.tags*
*.jinja2
*.swp
*~
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
